@model IList<Park>
@{
    ViewData["Title"] = "Index";

}

<h2>Index</h2>

@foreach (Park park in Model)
{
    @if (park.Surveys.Count > 0)
    {
        <img src="~/images/img/parks/@(park.ParkCode).jpg" />

        <h2> @park.ParkName </h2>

        <h4>@park.Surveys.Count</h4>
    }


}

