@model IList<Park>
@{
    ViewData["Title"] = "Index";

}

<h2>Index</h2>

@foreach (Park park in Model)
{
    <img srs="~/images/img/parks/@(park.ParkCode).jpg" />

    <h2> @park.ParkName </h2>

}






